:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    --body-font-size: 15px;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--body-font-size);
    background-color: var(--very-light-gray);
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 var(--grayish-blue);
    max-inline-size: clamp(19.94em, calc(19.94em + 11.5vw), 34.6em);
    max-block-size: clamp(16em, calc(16em + 11.5vw), 31.6em);
    margin-bottom: 20px;
    padding: 20px;
}

.cards-section {
    display: flex;
    flex-direction: column;
}
.card.cyan-border {
    border-top: 0.30em solid var(--cyan);
}
.card.red-border {
    border-top: 0.30em solid var(--red);
}
.card.orange-border {
    border-top: 0.30em solid var(--orange);
}
.card.blue-border {
    border-top: 0.30em solid var(--blue);
}
.card-para {
    font-size: clamp(1em, calc(1em +1.5vw), 4em);
    color: var(--grayish-blue);
    padding-bottom: 2.5em;
}

.card-h2 {
    color: var(--very-dark-blue);
}
.intro {
    text-align: center;
    margin: 0;
    margin-bottom: 3em;
    max-inline-size: clamp(19.94em, calc(19.94em + 11.5vw ), 34.6em);
}


.intro>.sub-head {
    color: var(--very-dark-blue);
    font-size: clamp(1.5em, calc(1.25em + 1.5vw), 2em);
    margin-bottom: 0.33em;
}

.intro>.head {
    color: var(--very-dark-blue);
    font-size: clamp(1.25em, calc(1.25em + 1.5vw), 2em);
    margin: 0;
}

.intro>.para {
    color: var(--grayish-blue);
    font-size: clamp(1em, calc(1em +1.5vw), 4em);
    padding: 0.33em;
}
img {
    display: flex;
    align-self: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-cards {
    display: flex;
    flex-direction: column;
}



@media(min-width: 50.6em ) {
   .cards-section {
    flex-direction: row;
   }
}


.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}




